{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center">{% trans "Sign Up" %}</h3>
          <p>{% blocktrans %}
            Welcome to Run it! Do you already have an account? Then please
            <a class="link" href="{{ login_url }}">sign in</a> instead.
            {% endblocktrans %}
          </p>
          <form id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            
            <div class="mb-3">
              <label for="id_first_name" class="form-label">{% trans "First Name" %}</label>
              {{ form.first_name.errors }}
              <input type="text" class="form-control" id="id_first_name" name="first_name" {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %} required>
            </div>

            <div class="mb-3">
              <label for="id_last_name" class="form-label">{% trans "Last Name" %}</label>
              {{ form.last_name.errors }}
              <input type="text" class="form-control" id="id_last_name" name="last_name" {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %} required>
            </div>

            <div class="mb-3">
              <label for="id_username" class="form-label">{% trans "Username" %}</label>
              {{ form.username.errors }}
              <input type="text" class="form-control" id="id_username" name="username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} required>
            </div>

            <div class="mb-3">
              <label for="id_email" class="form-label">{% trans "Email" %}</label>
              {{ form.email.errors }}
              <input type="email" class="form-control" id="id_email" name="email" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} required>
            </div>

            <div class="mb-3">
              <label for="id_password1" class="form-label">{% trans "Password" %}</label>
              {{ form.password1.errors }}
              <input type="password" class="form-control" id="id_password1" name="password1" required>
            </div>

            <div class="mb-3">
              <label for="id_password2" class="form-label">{% trans "Password confirmation" %}</label>
              {{ form.password2.errors }}
              <input type="password" class="form-control" id="id_password2" name="password2" required>
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">
                {% trans "Sign Up" %} &raquo;
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
