{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mt-5 text-center">
                <h1 class="display-1 hero-text">Welcome to...</h1>
                <img class="logo-landing-page" src="{% static 'images/run-it-logo.png' %}" alt="Run It! Logo" aria-label="Run It! Logo">
                <p class="lead pt-5">Your premier destination for running event listings.</p>
            </div>
        </div> 
</div>
{% endblock %}