<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<h1>Events Post List</h1>
{% for post in object_list %}
<h2>{{ post.event_name }}</h2>
<p>Date: {{ post.date }}</p>
<p>Race Type: {{ post.get_race_type_display }}</p>
<p>Location: {{ post.location }}</p>

<p>Max Participants: {{ post.max_participants }}</p>
{% if post.course_map %}
<p>Course Map: <a href="{{ post.course_map }}">Link</a></p>
{% endif %}

<p>Posted by: {{ post.author.username }}</p>

{% endfor %}
</body>

</html>