{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.event_name }}</h1>
                <ul class="post-details">
                    <li class="post-subtitle">Date: {{ post.date|date:"d M Y H:i" }}</li>
                    <li class="post-subtitle">Race type: {{ post.get_race_type_display }}</li>
                    <li class="post-subtitle">Location: {{ post.location }}</li>
                </ul>
                <p class="post-subtitle">Countdown: <span id="countdown"></span></p>
                <p id="eventDate" data-event-date="{{ post.date|date:'Y-m-d H:i:s' }}" style="display:none;"></p>
            </div>

            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder image">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Event Details</h3>
                    <hr>
                    <h5>Description</h5>
                    <p>{{ post.description|safe }}</p>
                    <h5>Max Participants</h5>
                    <p>{{ post.max_participants }}</p>
                    <h5>Course Map</h5>
                    {% if post.course_map %}
                    <p><a href="{{ post.course_map }}" target="_blank">View Course Map</a></p>
                    {% else %}
                    <p>No course map available.</p>
                    {% endif %}
                    <p>Posted by: {{ post.author.username }} | {{ post.created_on|date:"d M Y" }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <strong class="text-secondary">
                        <i class="far fa-comments"></i> {{ comment_count }}
                    </strong>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 card mb-4 mt-3">
                    <div class="card-body">
                        <h3>Comments:</h3>
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                            <p class="font-weight-bold">
                                {{ comment.author }}
                                <span class="font-weight-normal">{{ comment.created_on|date:"d M Y H:i" }}</span> wrote:
                            </p>
                            <div id="comment{{ comment.id }}">
                                {{ comment.body|linebreaks }}
                            </div>
                            {% if not comment.approved and comment.author == user %}
                            <p class="approval">This comment is awaiting approval</p>
                            {% endif %}
                            {% if user.is_authenticated and comment.author == user %}
                            <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                            <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>There are no comments yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 card mb-4 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="commentForm" method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                        </form>
                        {% else %}
                        <p><a href="{% url 'account_login' %}?next={{ request.path }}">Log in</a> to leave a comment.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <!-- List of Participants -->
                <h3>List of Participants:</h3>
                <p>Remaining places: {{ remaining_places }}</p>
                {% if signups %}
                <ol>
                    {% for signup in signups %}
                    <li>{{ signup.user.first_name }} {{ signup.user.last_name }}</li>
                    {% endfor %}
                </ol>
                {% else %}
                <p>No one has signed up yet.</p>
                {% endif %}

                <!-- Sign-up/Unregister Buttons -->
                <div class="row mb-4">
                    <div class="col-12">
                        {% if user.is_authenticated %}
                        {% if post.date > now %}
                            {% if remaining_places > 0 %}
                                {% if user_signed_up %}
                                    <button type="button" id="unregisterButton" class="btn btn-danger">Unregister</button>
                                {% else %}
                                    <button type="button" id="signupButton" class="btn btn-success">Sign Up</button>
                                {% endif %}
                            {% else %}
                                {% if user_signed_up %}
                                    <button type="button" id="unregisterButton" class="btn btn-danger">Unregister</button>
                                {% else %}
                                    <p>No more places available</p>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <p>This event has finished.</p>
                        {% endif %}
                        {% else %}
                        <p><a href="{% url 'account_login' %}?next={{ request.path }}">Log in</a> to sign up for this event.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Sign-up/Unregister confirmation modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Confirm action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to <span id="actionType">sign up</span> for this event?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="signupConfirm" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
