{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Event title goes in these h1 tags -->
                <h1 class="post-title">{{ post.event_name }}</h1>
                <!-- Event author goes before the | the event's created date goes after -->
                <p class="post-subtitle">Posted by: {{ post.author.username }} | {{ post.created_on|date:"d M Y" }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Event Details</h3>
                    <hr>
                    <h5>Date and Time</h5>
                    <p>{{ post.date|date:"d M Y H:i" }}</p>
                    <h5>Race Type</h5>
                    <p>{{ post.get_race_type_display }}</p>
                    <h5>Location</h5>
                    <p>{{ post.location }}</p>
                    <h5>Description</h5>
                    <p>{{ post.description|safe }}</p>
                    <h5>Max Participants</h5>
                    <p>{{ post.max_participants }}</p>
                    <h5>Course Map</h5>
                    {% if post.course_map %}
                    <p><a href="{{ post.course_map }}" target="_blank">View Course Map</a></p>
                    {% else %}
                    <p>No course map available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}